<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zy.com.cn.demo.take.task.mapper.OrderFoodMapper">
    <resultMap id="BASE_RESULT_MAP" type="zy.com.cn.demo.take.task.model.OrderFood">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="food_id" jdbcType="INTEGER" property="foodId"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="deleted_flag" jdbcType="VARCHAR" property="deletedFlag"/>
    </resultMap>
    <sql id="BASE_TABLE">
        sicily_order_food
    </sql>
    <sql id="BASE_COLUMN">
        id, order_id, food_id, amount, created_by, created_date, deleted_flag
    </sql>
    <insert id="insertRecord" parameterType="zy.com.cn.demo.take.task.model.OrderFood">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into  <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_id, food_id, amount, created_by, created_date, deleted_flag
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{orderId, jdbcType=INTEGER},
            #{foodId, jdbcType=INTEGER},
            #{amount, jdbcType=INTEGER},
            #{createdBy, jdbcType=VARCHAR},
            NOW(),
            'N'
        </trim>
    </insert>
    <select id="listRecords" parameterType="zy.com.cn.demo.take.task.model.OrderFood" resultMap="BASE_RESULT_MAP">
        select <include refid="BASE_COLUMN"/>
        from <include refid="BASE_TABLE"/>
        where deleted_flag = 'N'
        <if test="orderId != null">
            and order_id = #{orderId, jdbcType=INTEGER}
        </if>
        <if test="foodId != null">
            and food_id = #{foodId, jdbcType=INTEGER}
        </if>
        <if test="id != null">
            and id = #{id, jdbcType=INTEGER}
        </if>
    </select>
</mapper>