<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zy.com.cn.sicily.web.mapper.OrderInfoMapper">
    <resultMap id="BASE_RESULT_MAP" type="zy.com.cn.sicily.web.model.OrderInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="attain_way" jdbcType="INTEGER" property="attainWay"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="class_num" jdbcType="INTEGER" property="classNum"/>
        <result column="food_num" jdbcType="INTEGER" property="foodNum"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="pay_status" jdbcType="INTEGER" property="payStatus"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="deleted_flag" jdbcType="VARCHAR" property="deletedFlag"/>
    </resultMap>
    <sql id="BASE_TABLE">
        sicily_order_info
    </sql>
    <sql id="BASE_COLUMN">
        id,user_id, attain_way, price, class_num, food_num, address, remark, order_status,pay_status,
        order_no, out_trade_no, created_by, created_date, deleted_flag
    </sql>

    <insert id="insertRecord" parameterType="zy.com.cn.sicily.web.model.OrderInfo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into  <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id, attain_way, price, class_num, food_num, address, remark, order_status,pay_status, order_no, out_trade_no, created_by, created_date, deleted_flag
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{userId, jdbcType=INTEGER},
            #{attainWay, jdbcType=INTEGER},
            #{price, jdbcType=DOUBLE},
            #{classNum, jdbcType=INTEGER},
            #{foodNum, jdbcType=INTEGER},
            #{address, jdbcType=VARCHAR},
            #{remark, jdbcType=VARCHAR},
            #{orderStatus, jdbcType=INTEGER},
            #{payStatus, jdbcType=INTEGER},
            #{orderNo, jdbcType=VARCHAR},
            #{outTradeNo, jdbcType=VARCHAR},
            #{createdBy, jdbcType=VARCHAR},
            NOW(),
            'N'
        </trim>
    </insert>

    <update id="updateRecord" parameterType="zy.com.cn.sicily.web.model.OrderInfo">
        update <include refid="BASE_TABLE"/>
        <set>
            <if test="attainWay != null">
                attain_way =#{attainWay, jdbcType=INTEGER},
            </if>
            <if test="address != null and address != ''">
                address = #{address, jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remar != ''">
                remark = #{remark, jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                order_status =#{orderStatus, jdbcType=INTEGER},
            </if>
            <if test="payStatus != null">
                pay_status =#{payStatus, jdbcType=INTEGER},
            </if>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo, jdbcType=VARCHAR},
            </if>
            <if test="outTradeNo != null and outTradeNo != ''">
                out_trade_no = #{outTradeNo, jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="getRecord" parameterType="java.lang.Integer" resultMap="BASE_RESULT_MAP">
        select <include refid="BASE_COLUMN"/>
        from <include refid="BASE_TABLE"/>
        where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="listRecord" parameterType="zy.com.cn.sicily.web.model.OrderInfo" resultMap="BASE_RESULT_MAP">
        select <include refid="BASE_COLUMN"/>
        from <include refid="BASE_TABLE"/>
        where deleted_flag = 'N'
        <if test="userId != null">
            and user_id = #{userId, jdbcType=INTEGER}
        </if>
        <if test="attainWay != null">
            and attain_way = #{attainWay, jdbcType=INTEGER}
        </if>
        <if test="orderStatus != null">
            and order_status =#{orderStatus, jdbcType=INTEGER}
        </if>
        <if test="payStatus != null">
            and pay_status =#{payStatus, jdbcType=INTEGER}
        </if>
        <if test="orderNo != null and orderNo != ''">
            and order_no = #{orderNo, jdbcType=VARCHAR}
        </if>
        <if test="outTradeNo != null and outTradeNo != ''">
            and out_trade_no = #{outTradeNo, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getOrderByOrderNo" parameterType="java.lang.String" resultMap="BASE_RESULT_MAP">
        select <include refid="BASE_COLUMN"/>
        from  <include refid="BASE_TABLE"/>
        where order_no = #{orderNo, jdbcType=VARCHAR}
    </select>

    <select id="getOrderByOutTradeNo" parameterType="java.lang.String" resultMap="BASE_RESULT_MAP">
        select <include refid="BASE_COLUMN"/>
        from  <include refid="BASE_TABLE"/>
        where out_trade_no = #{outTradeNo, jdbcType=VARCHAR}
    </select>
</mapper>