<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.com.cn.sicily.web.mapper.ShopCarMapper">
    <resultMap id="BASE_RESULT_MAP" type="zy.com.cn.sicily.web.model.ShopCar">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="food_id" jdbcType="INTEGER" property="foodId"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="deleted_flag" jdbcType="VARCHAR" property="deletedFlag"/>
    </resultMap>
    <resultMap id="DETAIL_RESULT_MAP" type="zy.com.cn.sicily.web.beans.dto.ShopCarDTO" extends="BASE_RESULT_MAP">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="limit" jdbcType="INTEGER" property="limit"/>
    </resultMap>
    <sql id="BASE_TABLE">
        sicily_shop_car
    </sql>
    <sql id="BASE_COLUMN">
        id, user_id, food_id, amount, status, created_by, created_date, deleted_flag
    </sql>
    <insert id="insertRecord" parameterType="zy.com.cn.sicily.web.model.ShopCar">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert  into <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id, food_id, amount, status, created_by, created_date, deleted_flag
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{userId, jdbcType=INTEGER},
            #{foodId, jdbcType=INTEGER},
            #{amount, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{createdBy, jdbcType=VARCHAR},
            NOW(),
            'N'
        </trim>
    </insert>
    <update id="updateRecord" parameterType="zy.com.cn.sicily.web.model.ShopCar">
        update <include refid="BASE_TABLE"/>
        <set>
            <if test="null != foodId">
                food_id = #{foodId, jdbcType=INTEGER},
            </if>
            <if test="null != amount">
                amount =  #{amount, jdbcType=INTEGER},
            </if>
            <if test="null != status">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="deletedFlag != null">
                deleted_flag = #{deletedFlag, jdbcType=VARCHAR},
            </if>
        </set>
        where  id = #{id, jdbcType=INTEGER}
    </update>
    <select id="listRecord" parameterType="zy.com.cn.sicily.web.model.ShopCar" resultMap="BASE_RESULT_MAP">
        select <include refid="BASE_COLUMN"/>
        from <include refid="BASE_TABLE"/>
        where deleted_flag = 'N'
        <if test="userId != null">
            and user_id = #{userId, jdbcType=INTEGER}
        </if>
        <if test="null != foodId">
            and food_id = #{foodId, jdbcType=INTEGER}
        </if>
        <if test="null != amount">
            and amount =  #{amount, jdbcType=INTEGER}
        </if>
        <if test="null != status">
            and status = #{status, jdbcType=INTEGER}
        </if>
    </select>

    <select id="listDetail" parameterType="zy.com.cn.sicily.web.model.ShopCar" resultMap="DETAIL_RESULT_MAP">
        select <include refid="BASE_COLUMN"/>
        ,name,image,price,description,limit
        from <include refid="BASE_TABLE" /> as s
        left  join sicily_food_info as f on s.food_id = f.id
        where s.deleted_flag = 'N'
        <if test="userId != null">
            and s.user_id = #{userId, jdbcType=INTEGER}
        </if>
        <if test="null != foodId">
            and s.food_id = #{foodId, jdbcType=INTEGER}
        </if>
        <if test="null != amount">
            and s.amount = #{amount, jdbcType=INTEGER}
        </if>
        <if test="null != status">
            and s.status = #{status, jdbcType=INTEGER}
        </if>
    </select>
</mapper>