<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zy.com.cn.sicily.web.mapper.UserAddressMapper">
    <resultMap id="USER_MAP" type="zy.com.cn.sicily.web.model.UserAddress">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="attact_name" jdbcType="VARCHAR" property="attactName"/>
        <result column="attact_mobile" jdbcType="VARCHAR" property="attactMobile"/>
        <result column="attact_address" jdbcType="VARCHAR" property="attactAddress"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="deleted_flag" jdbcType="VARCHAR" property="deletedFlag"/>
    </resultMap>
    <sql id="BASE_TABLE">
        sicily_user_address
    </sql>
    <sql id="BASE_COLUMN">
        id, user_id, mobile, attact_name, attact_mobile, attact_address, created_by, created_date, deleted_flag
    </sql>
    <insert id="insertAddress" parameterType="zy.com.cn.sicily.web.model.UserAddress">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id, mobile, attact_name, attact_mobile, attact_address, created_by, created_date, deleted_flag
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{userId, jdbcType=INTEGER},
            #{mobile, jdbcType=VARCHAR},
            #{attactName, jdbcType=VARCHAR},
            #{attactMobile, jdbcType=VARCHAR},
            #{attactAddress, jdbcType=VARCHAR},
            #{createdBy, jdbcType=VARCHAR},
            NOW(),
            'N'
        </trim>
    </insert>

    <select id="addressList" parameterType="zy.com.cn.sicily.web.model.UserInfo" resultMap="USER_MAP">
        select <include refid="BASE_COLUMN"/>
        from <include refid="BASE_TABLE"/>
        where  deleted_flag = 'N'
        <if test="userId != null">
            and user_id =#{userId, jdbcType=INTEGER}
        </if>
        <if test="mobile != null and mobile != ''">
            and  mobile = #{mobile, jdbcType=VARCHAR}
        </if>
    </select>

</mapper>