<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zy.com.cn.sicily.web.mapper.WeChatConfigMapper">
    <resultMap id="BASE_RESULT_MAP" type="zy.com.cn.sicily.web.model.WeChatConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
        <result column="config_name" jdbcType="VARCHAR" property="configName"/>
        <result column="config_content" jdbcType="VARCHAR" property="configContent"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="deleted_flag" jdbcType="VARCHAR" property="deletedFlag"/>
    </resultMap>
    <sql id="Base_Table">
        sicily_we_chat_config
    </sql>
    <sql id="Base_Column">
        id, merchant_id, config_name, config_content, created_by, created_date, deleted_flag
    </sql>
    <select id="getByName" resultMap="BASE_RESULT_MAP" parameterType="java.lang.String">
        select <include refid="Base_Column"/>
        from  <include refid="Base_Table"/>
        where config_name = #{configName, jdbcType=VARCHAR}
    </select>
</mapper>